APP_HTTP_PORT=:8080
APP_HTTP_WITH_SWAGGER=true
APP_CONFIG_PATH=./config/config.yml

# -------
# Store
# -------

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=5432

APP_DB_DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable
APP_DB_DRIVER=pgx
APP_DB_MIGRATION_DIR=./migrations
